.catalog-page {
  padding-bottom: 100px;

}

.catalog-page__content {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}

.catalog-page__category {}

.catalog-page__description{
  color: #fff;
  font-size: 1.2rem;
}
.category {
  width: 270px;
}

.category__list {
  padding: 0;
  list-style: none;
  margin: 0;
}

.category__item {
  background-color: #35363B;
  position: relative;
  overflow: hidden;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &:hover {
    &::after {
      content: "";
      display: block;
      height: 100%;
      width: 8px;
      position: absolute;
      right: 0;
      top: 0;
      background-color: #EC1E27;
      animation: slideEffectRight 0.3s;
    }

    a {
      color: #fff;
    }
  }

  a {
    color: #9A9A9A;
    font-size: 1.125rem;
    line-height: 20px;
    padding: 9px 30px;
    display: block;
  }

  &.current-menu-item {
    height: 100%;

    a {
      color: #fff;
    }

    &::after {
      content: "";
      display: block;
      height: 100%;
      width: 8px;
      position: absolute;
      right: 0;
      top: 0;
      background-color: #EC1E27;
      animation: slideEffectRight ease infinite;
    }
  }

}

.catalog-page__products {
  width: 100%;
}

.products {}

.products__wrapper {
  width: 100%;
}

.products__list {
  display: flex;
  row-gap: 40px;
  column-gap: 20px;
  flex-wrap: wrap;
}

.products__element {
  background-color: #35363B;
  color: #fff;
  display: block;
  flex-basis: 31%;
}

.products__technology {
  font-weight: 700;
  font-size: 0.875rem;
  padding: 5px 0;
  text-align: center;
}

.--products__technology-maximum {
  color: #C9A45C;
  background-color: #35363B;
}

.--products__technology-optimum {
  color: #fff;
  background-color: #C93833;
}

.--products__technology-profi {
  color: #fff;
  background-color: #2787F5;
}

.--products__technology-base {
  color: #fff;
  background-color: #C3C7CF;
}

.products__img {
  height: 150px;

}

.products__info {
  padding: 20px 25px;

}

.products__name {
  margin: 0;
  margin-bottom: 13px;
  font-size: 1.25rem;
}

.products__property {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 0.8rem;
  margin-bottom: 5px;
}

.products__param {
  font-weight: 400;
}

.products__value {
  font-weight: 500;
}

.products__zones {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 6px;
}

.products__zone {
  font-size: 0.8rem;
  color: #9A9A9D;
}

.products__price {
  font-weight: 700;
  font-size: 1.5rem;
  color: #EC1E27;
  text-align: right;
}

.filter {
  display: none;
  background-image: url('../img/filter-btn.svg');
  background-repeat: no-repeat;
  background-position: center right 16px;
  background-color: #35363B;

  h2 {
    width: 100%;
    margin: 0 50px 0 0;
    padding: 13px 16px 16px;
    font-size: 1rem;
    line-height: 16px;
    font-weight: 600;
    color: #fff;
    border-right: 1px solid #53555e;
  }
}
.filter__menu{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #35363B;
  display: none;
  animation: fade 0.3s;
  &.filter__menu--active{
    display: block;
  }
  .filter__close{
    width: 100%;
    padding: 16px 70px;
    line-height: 14px;
    border: 0;
    color: #fff;
    background-color: #35363B;
    background-image: url('../img/arrow-filter.png');
    background-repeat: no-repeat;
    background-position: center left 20px;
    border-bottom: 1px solid #53555e;
  }
}

@keyframes slideEffectRight {
  from {
    opacity: 0;
    transform: translateX(10px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@include big-desktop {
  .products__info {
    padding: 15px 20px;
  }
}

@include tablet {
  .products__element {
    flex-basis: 44%;
  }

}

@include small-tablet {

  .catalog-page__content {
    flex-direction: column;
  }
  .catalog-page__content {
    margin-top: 20px;
  }
 .filter{
   display: flex;
 }
  // .category__list {
  //   display: flex;
  //   flex-wrap: wrap;
  //   justify-content: space-between;
  //   align-items: baseline;
  // }
  // .category__item {
  //   flex-basis: 47%;
  // }
  .category {
    display: none;
  }
}

@include mobile {
  .products__list {
    justify-content: center;
  }

  .products__element {
    flex-basis: 80%;
  }
}
