<div class="breadcrumb">
  <div class="breadcrumb__wrapper container">
    <ul class="breadcrumb__list">
      <li class="breadcrumb__item"><a href="/"><img src="./img/breadcrumb-home.png" alt=""></a></li>
      <li class="breadcrumb__item"><a href="/">Каталог</a></li>
      <li class="breadcrumb__item breadcrumb__item--last"><a href="/">Вибропоглощающие</a></li>
    </ul>
  </div>
</div>
<div class="breadcrunb--mobile">
  <div class="breadcrumb__wrapper container">
    <a href="/">Каталог</a>
  </div>
</div>

