<footer class="footer">
  <div class="footer__wrapper container">
    <div class="footer__top-line">
      <a class="footer__logo">
        <img src="./img/footer-logo.png" alt="logo stp">
        <div class="footer__company-name">Стандартпласт <span>Владикавказ</span></div>
      </a>
      <p  class="footer__compane-desc">Официальный диллер “Стандартпласт” во Владикавказе</p>
    </div>
    <hr>
    <div class="footer__navs">
      <nav class="footer__nav --nav-mobile accordion" >
        <div class="footer__nav-top">
          <div class="footer__title">Каталог</div>
          <div class="footer__arrow"><img src="./img/arrow-bot.png" alt=""></div>
        </div>
        <div class="footer__content" accordion-content>
          <ul>
            <li><a href="#">Вибропоглощающие</a></li>
            <li><a href="#">Звукоизолирующие</a></li>
            <li><a href="#">Звукопоглощающие</a></li>
            <li><a href="#">Теплоизолирующие</a></li>
            <li><a href="#">Аксессуары</a></li>
            <li><a href="#">Готовые решения</a></li>
          </ul>
        </div>
      </nav>
      <nav class="footer__nav --nav-mobile accordion">
        <div class="footer__nav-top">
          <div class="footer__title">Информация</div>
          <div class="footer__arrow"><img src="./img/arrow-bot.png" alt=""></div>
        </div>
        <div class="footer__content" accordion-content>
          <ul>
            <li><a href="#">Подбор материала</a></li>
            <li><a href="#">Доставка</a></li>
            <li><a href="#">Новости</a></li>
            <li><a href="#">Контакты</a></li>
          </ul>
        </div>
      </nav>
      <nav class="footer__nav">
        <h3 class="footer__title">Каталог</h3>
        <ul>
          <li><a href="#">Вибропоглощающие</a></li>
          <li><a href="#">Звукоизолирующие</a></li>
          <li><a href="#">Звукопоглощающие</a></li>
          <li><a href="#">Теплоизолирующие</a></li>
          <li><a href="#">Аксессуары</a></li>
          <li><a href="#">Готовые решения</a></li>
        </ul>
      </nav>
      <nav class="footer__nav">
        <h3 class="footer__title">Информация</h3>
        <ul>
          <li><a href="#">Подбор материала</a></li>
          <li><a href="#">Доставка</a></li>
          <li><a href="#">Новости</a></li>
          <li><a href="#">Контакты</a></li>
        </ul>
      </nav>
      <nav class="footer__nav">
        <h3 class="footer__title">Стандартпласт в соцсетях</h3>
        <div class="footer__social">
        <a href="#"><div class="footer__social-img"><img src="./img/instagram-footer.png" alt=""></div><span>stp_vladikavkaz</span></a>
        <a href="#"><div class="footer__social-img"><img src="./img/instagram-footer.png" alt=""></div> <span>stp_market</span></a>
        <a href="#"><div class="footer__social-img"><img src="./img/YouTube-footer.png" alt=""></div><span>StP 15region</span></a>

        </div>
      </nav>
    </div>
  </div>
</footer>
