<header class="header">
  <div class="header__adress">
    <div class="header-top container">
      <a href="#">г.Владикавказ, Архонское шоссе 3км, автотехцентр "Барс"</a>
      <div>Официальный диллер г.Владикавказ</div>
    </div>
  </div>
  <div class="header__adress--mobile">
    <div class="container">
      <a href="#"><img src="./img/marker.png" alt=""></a>
      <div class="header__contact">
        <div class="header__contact-line">
        <a href="#" class="header__instagram"><img src="./img/instagram.png" alt="Значок инстаграм"></a>
        <a href="tel:+79188205867" class="header__phone">+7 (918) 820-58-67</a>
        </div>
        <div class="header__contact-line">
          <a href="#" class="header__instagram"><img src="./img/instagram.png" alt="Значок инстаграм"></a>
          <a href="tel:+79188205867" class="header__phone">+7 (989) 037-30-27</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container header__line">
    <a href="/" class="header__logo">
      <img src="./img/logo.png" alt="logo stp">
      <div class="header__company-name">Стандартпласт <span>Шумоизоляция</span><span>Владикавказ</span></div>
    </a>
    <button class="burger" aria-label="Открыть меню" data-burger>
      <span class="burger__line"></span>
    </button>
    <div class="header__menu menu"  data-menu>
      <div class="menu__wrapper container">
        <ul class="menu__list">
          <li><a href="#">Главная</a></li>
          <li class="menu-item-has-children"><a href="#">Каталог</a>
            <ul class="sub-menu">
              <li><a href="#">Вибропошлощающие</a></li>
              <li><a href="#">Звукопоглощающие</a></li>
              <li><a href="#">Готовые решения</a></li>
              <li><a href="#">Аксессуары</a></li>
              <li><a href="#">Теплоизолирующие</a></li>
              <li><a href="#">Звукоизолирующие</a></li>
            </ul>
          </li>
          <li><a href="https://stp-russia.ru/calculation/" target="_blank">Подбор материалов</a></li>
          <li><a href="#">Новости</a></li>
          <li><a href="#">Контакты</a></li>
        </ul>
      </div>
    </div>
    <nav class="header__nav">
      <ul>
        <li><a href="/">Главная</a></li>
        <li><a href="./catalog.html">Каталог</a>
          <ul class="sub-menu">
            <li><a href="#">Вибропошлощающие</a></li>
            <li><a href="#">Звукопоглощающие</a></li>
            <li><a href="#">Готовые решения</a></li>
            <li><a href="#">Аксессуары</a></li>
            <li><a href="#">Теплоизолирующие</a></li>
            <li><a href="#">Звукоизолирующие</a></li>
          </ul>
        </li>
        <li><a href="https://stp-russia.ru/calculation/" target="_blank">Подбор материалов</a></li>
        <li><a href="#">Новости</a></li>
        <li><a href="#">Контакты</a></li>
      </ul>
    </nav>
    <div class="header__contact">
      <div class="header__contact-line">
        <a href="#" class="header__instagram"><img src="./img/instagram.png" alt="Значок инстаграм"></a>
        <a href="tel:+79188205867" class="header__phone">+7 (989) 037-30-27</a>
      </div>
      <div class="header__contact-line">
        <a href="#" class="header__instagram"><img src="./img/instagram.png" alt="Значок инстаграм"></a>
        <a href="tel:+79188205867" class="header__phone">+7 (918) 820-58-67</a>
      </div>
    </div>
  </div>
</header>
